<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ELIMINAR CUENTA</title>
  </head>
  <body>
    <div class="container">
      <h1>Eliminar cuenta</h1>
      <br>
      <form action="" method="POST">
        <fieldset>

          <!-- Form Name -->
          <legend><center><h2><b>Confirma correo y password</b></h2></center></legend><br>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" placeholder="E-Mail" class="form-control"  type="text">
              </div>
            </div>
          </div>


          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label" >Password</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="password" placeholder="Password" class="form-control"  type="password">
              </div>
            </div>
          </div>


          <Button type="submit">
            Cofirmar
          </button>

        </fieldset>
      </form>

    </div>
  </body>
</html>
