<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Usuario ID</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.usuario_id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidoP }}</td>
                <td>{{ cliente.apellidoM }}</td>
                <td>{{ cliente.edad }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>