<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar sesión</title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login1.css')}}">
  <body>
    {% if error %}
    <p>Credenciales inválidas. Inténtalo de nuevo.</p>
    {% endif %}

    <form class="form-signin" action="/login/logedin" method="POST">
      <div class="text-center mb-4">
        <img class="mb-4" src="{{ url_for('static', filename='imagenes/logo.jpg')}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus name="inputEmail">
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="inputPassword">
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
  </body>
</html>
